/vendor
/node_modules
/public/storage
/public/uploads
Homestead.yaml
Homestead.json
.env
/.idea
.DS_Store
/nbproject
/storage/logs/*
/storage/app/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*